.user-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  padding: 1rem 1.8rem;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 6px;
}
