.user-info {
  display: grid;
  grid-template: repeat(4, auto) / repeat(3, 1fr) 2fr;
  align-items: center;
  gap: 1.6rem 0;
  width: 100%;

  p, a {
    font-size: 1.2rem;
  }

  .user-name {
    grid-area: 1 / 1 / 1 / 5;
    justify-self: end;
    line-height: 1;
    margin-bottom: 0;
  }
  
  .email-link, .website-link, .phone-link {
    color: rgb(35, 73, 149);
    
    &:hover {
      color: rgb(13, 13, 26);
      text-decoration: underline;
    }
  }
  
  .property {
    font-family: monospace;
    font-size: 1rem;
    color: rgb(81, 81, 87);
    justify-self: end;
    padding-right: 1rem;
  }
  
  .user-details-wrapper {
    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
    align-items: center;
    grid-area: 2 / 1 / 5 / 5;
    background-color: #fff;
    border-radius: 6px;
    padding: 1.5rem;
  }
}
